@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @media (max-width:1000px) {
    .hero {
      background-image: url(/hero/hero.png);
      @apply bg-contain bg-no-repeat
    }
  }
  .hero {
    background-image: url(/hero/hero.png);
    @apply bg-cover bg-no-repeat bg-center
  }
  .news {
    background-image: url(/new.jpg);
    @apply bg-cover bg-no-repeat bg-top bg-fixed
  }
  .footer{
    background-image: url(/footer/footer-bg.png);
    @apply bg-cover bg-no-repeat bg-center
  }
}
@layer components {
  *,
*::after,
*::after{
  @apply m-0 p-0 box-border
}
.fh::before {
  content: "";
  height: 2px;
  @apply left-0 bg-red-400 w-12 -bottom-2 absolute
 

}
  ul{
    @apply list-none
  }
}
a{
  text-decoration: none;
}
.ts {
  text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
        color: white;
}
::selection{
  background-color: rgb(243, 113, 113);
  color: white;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


